
//$galleryBackground:#111 !default; 
$galleryBackground:url('pattern3.png') !default; 
$galleryMinHeight:650px;
$galleryMaxWidth:984px; 
//$galleryMaxWidth:100%;

body {
  overscroll-behavior-y: contain;
}

.rs-bp3d {

  display: none;
  width: 100%;
  //min-height: $galleryMinHeight;
  max-width: $galleryMaxWidth;
  margin: 0 auto;
  box-sizing:border-box!important;
  background:$galleryBackground;
  user-select:none;
  perspective:1000px;
  -webkit-touch-callout:none;
  -webkit-user-select:none;
  -khtml-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
  -webkit-tap-highlight-color:rgba(0,0,0,0);
}

.rs-bp3d-timeout {
  font-weight:bold;
}
